/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter-Variable', Arial;
    --font-accent: 'PressStart2P-Regular', sans-serif;
    --font-accent-weight: 400;
    --font-title-weight: 715;
    --font-text-weight: 410;
    --text-color: #000;
}